html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* NAVBAR */
header {
  background-color: #f89a4b;
  position: sticky;
  z-index: 1;
  width: 100%;
}

header div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header p {
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: #222;
}

header nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

/* HERO */
.hero {
  margin-top: 60px;
  position: relative;
}

.hero_txt {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  align-items: center;
  justify-content: center;
}

.hero_img img {
  position: inherit;
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
}

/* SECTION */
.content {
  max-width: 1235px;
  margin: 100px auto;
}

.section_txt a {
  text-decoration: none;
  color: #222;
}

.section_txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.linea{
  background-color: #f89a4b;
  height: 5px;
  margin-bottom: 32px;
}

.section_txt h2 {
  font-size: 24px;
}

.see-all {
  color: #d84c1c;
  text-decoration: none;
  font-weight: 600;
}

/* GRID CARDS */
.card-grid {
  margin-top: 32px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card_item {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: block;
}

.card_item:hover {
  transform: translateY(-4px);
}

.card_item a {
  text-decoration: none;
  color: #222;
}

.card_img {
  position: relative;
  height: 70%;
}

.card_img img {
  width: 100%;
}

.card_txt {
  padding: 20px;
}

.posizione {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.map{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.place {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}

.card-grid2 {
  margin-top: 32px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.card_item2 {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: block;
}

.card_item2:hover {
  transform: translateY(-4px);
}

.card_item2 a {
  text-decoration: none;
  color: #222;
}

.card_img2 {
  position: relative;
  height: 75%;
}

.card_img2 img {
  width: 100%;
}

.card_txt2 {
  display: flex;
  margin: 24px;
  align-items: center;
}

.card_txt2 h3 {
  font-size: 24px;
  font-weight: 600;
}

.map2 {
  height: 25px;
  padding-right: 12px;
}

/* FOOTER */
.footer {
  background: #efc156;
  margin-top: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer h2 {
  font-weight: bold;
  padding: auto;
}

.back-top {
  align-items: center;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

.footer-nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .hero {
    margin-top: 20px;
    max-height: 200px;
  }
  .hero img {
    max-height: 200px;
  }
  .card-grid, .card-grid2 {
    grid-template-columns: 300px;
    justify-self: center;
  }
  .card_item h3 {
    font-size: 22px;
  }
  .card_item p {
    font-size: 18px;
  }
  .posizione {
    padding: 1px;
  }
  header {
    padding: 20px 0;
    font-size: 20px;
  }
  header div {
    flex-direction: column;
  }
  header nav ul {
    gap: 15px;
    font-weight: 600;
  }
  .card_img, .card_img2 {
    height: 250px;
  }
  .content {
    margin: 30px 10px;
  }
  main {
    margin-bottom: -200px;
  }
  footer h2, a {
    font-size: 12px;
  }
  .footer-nav ul {
    font-size: 12px;
    gap: 0;
  }
}